[submodule "rl-baselines3-zoo"]
	path = rl-baselines3-zoo
	url = git@github.com:Finn-Sueberkrueb/rl-baselines3-zoo.git
	branch = Munchausen
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = git@github.com:Finn-Sueberkrueb/stable-baselines3.git
	branch = Munchausen
