[submodule "stable-baselines3"]
	path = stable-baselines3
	url = git@github.com:Finn-Sueberkrueb/stable-baselines3.git
[submodule "pybullet-gym"]
	path = pybullet-gym
	url = git@github.com:Finn-Sueberkrueb/pybullet-gym.git
[submodule "rl-baselines3-zoo"]
	path = rl-baselines3-zoo
	url = git@github.com:Finn-Sueberkrueb/rl-baselines3-zoo.git
